In [59]:
import sys
import mysql.connector

def connect(user):
    conn = mysql.connector.connect(host='localhost', database='microshop', user=user)
    conn.autocommit = True
    return conn

rootconn = connect('user')


def sqlQuery(sqlString, conn=rootconn):
    try:
        cursor = rootconn.cursor()
        cursor.execute(sqlString)
        res = cursor.fetchall()
        return res
    except Exception as ex:
        print(str(ex), file=sys.stderr)
    finally:    
        cursor.close()

def sqlDo(sqlString, conn=rootconn):
    try:
        cursor = conn.cursor()
        cursor.execute(sqlString)
        res = cursor.fetchwarnings()
        return res
    except Exception as ex:
        print(str(ex), file=sys.stderr)
    finally:    
        cursor.close()

In [60]:
sqlQuery("show tables")

[('customer',), ('order',), ('order_line',), ('product',)]

In [65]:
def myQuery(query):
    q = f"select * from {query}"
    return sqlQuery(q)

In [66]:
#return all customers

customers = myQuery("customer")
for customer in customers:
    print(customer)

(1, 'farki')
(2, 'Joe')

In [78]:
#Updating myQuery

def myQuery1(query):
    res = query.split('.')
    if(len(res) < 2):
        q = f"select * from {query}"
        return sqlQuery(q) 
    else:
        q = f"select{res[1]} from {res[0]}"
        return sqlQuery(q)

In [79]:
#return all customer names

names = myQuery1("customer.name")
for name in names:
    print(name)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'selectname from customer' at line 1

TypeError: 'NoneType' object is not iterable