In [2]:
import json
from pprint import pprint

def json_read(filename):
   with open(filename) as f_in:
       return(json.load(f_in))
    
structure = json_read("database_struct.json")

pprint(structure)

{'entities': [{'Customer': {'name': 'String', 'orders': '*Order'}},
              {'Order': {'customer': 'Customer',
                         'date': 'String',
                         'lines': '*OrderLine',
                         'total': 'Number'}},
              {'OrderLine': {'count': 'Number',
                             'order': 'Order',
                             'product': 'Product',
                             'total': 'Number'}},
              {'Product': {'name': 'String', 'price': 'Number'}}],
 'schemaName': 'MicroShop'}

In [36]:
import inflection

sql = "CREATE SCHEMA `" + structure['schemaName'] + "`;\n\n"

# pprint(structure['entities'])

for entity in structure['entities']:
    for className in entity:       
        sql += "CREATE TABLE `" + structure['schemaName'] + "`.`" + inflection.underscore(className) + "` (\n"
        sql += "\t`id` INT NOT NULL,\n"
        sql += "\tPRIMARY KEY (`id`),\n"
#         print(entity[className])
        for column_name in entity[className]:
            field_type = entity[className][column_name]
#             print(column_name, entity[className][attribute])
            if field_type == 'String':
                column_type = "VARCHAR(45)"
            else:
                column_type = "INT"

            if column_name[0] =='*':
                column_name = inflection.underscore(attribute) + "_id"

            sql += "\t`"+ column_name +"` " + column_type + " NULL,\n"
        sql = sql[:-2]
        sql += "\n);\n\n"

print(sql)

CREATE SCHEMA `MicroShop`;

CREATE TABLE `MicroShop`.`customer` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`name` VARCHAR(45) NULL,
	`orders` INT NULL
);

CREATE TABLE `MicroShop`.`order` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`date` VARCHAR(45) NULL,
	`total` INT NULL,
	`customer` INT NULL,
	`lines` INT NULL
);

CREATE TABLE `MicroShop`.`order_line` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`order` INT NULL,
	`product` INT NULL,
	`count` INT NULL,
	`total` INT NULL
);

CREATE TABLE `MicroShop`.`product` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`name` VARCHAR(45) NULL,
	`price` INT NULL
);