In [2]:
import json
from pprint import pprint

def json_read(filename):
   with open(filename) as f_in:
       return(json.load(f_in))
    
structure = json_read("database_struct.json")

pprint(structure)

{'entities': [{'Customer': {'name': 'String', 'orders': '*Order'}},
              {'Order': {'customer': 'Customer',
                         'date': 'String',
                         'lines': '*OrderLine',
                         'total': 'Number'}},
              {'OrderLine': {'count': 'Number',
                             'order': 'Order',
                             'product': 'Product',
                             'total': 'Number'}},
              {'Product': {'name': 'String', 'price': 'Number'}}],
 'schemaName': 'MicroShop'}

In [8]:
sql = "CREATE DATABASE IF NOT EXISTS `" + structure['schemaName'].lower() + "`;\n\n"

# pprint(structure['entities'])

for entity in structure['entities']:
    for className in entity:
        sql += "DROP TABLE IF EXISTS `" + className.lower() + "`;\n"
        sql += "CREATE TABLE `" + structure['schemaName'].lower() + "`.`" + className.lower() + "` (\n"
        sql += "\t`id` INT NOT NULL,\n"
        sql += "\tPRIMARY KEY (`id`),\n"
#         print(entity[className])
        for attribute_name in entity[className]:
            field_type = entity[className][attribute_name]
#             print(column_name, entity[className][attribute])
            if field_type == 'String':
                column_type = "VARCHAR(45)"
            else:
                column_type = "INT"
            
            column_name = attribute_name
            
            if field_type[0] == "*":
                continue
            
            if field_type !='String' and field_type !='Number':
                column_name = inflection.underscore(attribute_name) + "_id"
                sql += "\t`"+ column_name +"` " + column_type + " NULL,\n"
                continue
#                 print(column_name)

            sql += "\t`"+ column_name +"` " + column_type + " NULL,\n"
        sql = sql[:-2]
        sql += "\n);\n\n"

print(sql)

with open("generated.sql","w") as f_out:
       f_out.write(sql);

CREATE DATABASE IF NOT EXISTS `microshop`;

DROP TABLE IF EXISTS `microshop`;
CREATE TABLE `microshop`.`customer` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`name` VARCHAR(45) NULL
);

DROP TABLE IF EXISTS `microshop`;
CREATE TABLE `microshop`.`order` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`date` VARCHAR(45) NULL,
	`total` INT NULL,
	`customer_id` INT NULL
);

DROP TABLE IF EXISTS `microshop`;
CREATE TABLE `microshop`.`orderline` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`order_id` INT NULL,
	`product_id` INT NULL,
	`count` INT NULL,
	`total` INT NULL
);

DROP TABLE IF EXISTS `microshop`;
CREATE TABLE `microshop`.`product` (
	`id` INT NOT NULL,
	PRIMARY KEY (`id`),
	`name` VARCHAR(45) NULL,
	`price` INT NULL
);

In [9]:
# Python class example
class Complex:
     def __init__(self, realpart, imagpart):
         self.r = realpart
         self.i = imagpart

In [10]:
for entity in structure['entities']:
    for className in entity:
#         print(className)
        class_string = "class " + className + ":\n"
        class_string += "\tdef __init__(self"
        for attribute_name in entity[className]:
            class_string += ", " + attribute_name
        class_string += ")\n"
        
        for attribute_name in entity[className]:
            class_string += "\t\tself." + attribute_name + " = " + attribute_name + "\n"
        with open(className.lower() + ".py","w") as f_out:
           f_out.write(class_string);
    print(class_string)

class Customer:
	def __init__(self, name, orders)
		self.name = name
		self.orders = orders

class Order:
	def __init__(self, date, total, customer, lines)
		self.date = date
		self.total = total
		self.customer = customer
		self.lines = lines

class OrderLine:
	def __init__(self, order, product, count, total)
		self.order = order
		self.product = product
		self.count = count
		self.total = total

class Product:
	def __init__(self, name, price)
		self.name = name
		self.price = price